<body>
<section>

  <div class="container-menor">
    <div class="row">
      <div class="col-sm">
        <p class="titulo-h2" style="position: relative; top: 60px; left: 60px;">Olá <%= @user.name %>,</p><br>
        <p class="subtitulo">Viemos aqui te orientar e dar algumas dicas de<br>
        como se prevenir do novo covid-19.</p>
      </div>
      <div align="right" class="col-sm">
        <img src="<%= image_url('contra.png') %>" class="minha-area" alt="simbolo corona virus">
      </div>
    </div>
  </div>
<!-- ------- todos ----------- -->
  <div class="container-corona">
    <div class="row padding">
    <div class="subtitulo-cinza col-8" style="font-size: 20px;">
      O novo <b>coronavírus</b> é parente do vírus causador da SARS (sigla inglesa para síndrome respiratória aguda grave).<br><br>
      Pacientes com doenças mais debilitantes têm menor capacidade de frear o vírus, aumentando o risco de ele cair na corrente sanguínea, atingir os pulmões e provocar pneumonia.<br><br>
      <i>"Em geral, pessoas com doenças crônicas estão em maior risco por causa do comprometimento da resposta imune. A possibilidade da intensidade da replicação viral, acaba deflagrando uma
      lesão pulmonar que vai agravar o quadro do paciente"</i>, explica Luciana Costa, diretora adjunta do Instituto de Microbiologia da UFRJ e do Laboratório de Genética e Imunologia das Infecções Virais.<br><br>
      Por isso é muito importante estar com a imunidade em dia e sempre usar álcool em gel ou lavar as mãos frequentemente. Abaixo, explicamos quais e por que alguns grupos de riscos estão mais vulneráveis à doença e como se prevenir.
    </div>
    <div class="col-4">
      <img src="<%= image_url('corona.png') %>" style="width: 200px; height: 200px; position: relative; left: 80px; top: 70px;" alt="simbolo-corona">
    </div>
  </div>
  </div>

  <!-- ------------------------- hipertensao ------------------- -->
  <div class="container-azul-imagem" style="height: 690px;">
    <div class="row padding ">
      <div class="col-sm-7">
        <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você possui Hipertensão, com isso deve se cuidar pois:</p>
        <p class="subtitulo-azul">Pacientes com problemas no <b>coração</b> estão mais expostos ao problema porque algumas
        substâncias que o órgão produz para combater a infecção podem deixar o coração mais fraco.</p>

        <p class="subtitulo-azul">Segundo Bruno Valdigem, do Instituto Dante Pazzanese e do hospital Vila Nova Star
        (Rede Dor/ São Luiz), o vírus ainda pode afetar o músculo cardíaco, caso o coração já esteja
        sobrecarregado, e causar inflamação no miocárdio. Além disso, aumenta o risco de arritmias e parada cardíaca.</p>

        <p class="subtitulo-azul">O especialista explica que o vírus usa o mesmo receptor que os remédios para hipertensão da classe
        inibidores da ECA (enzima conversora de angiotensinogenio) para invadir as células, facilitando uma
        infecção mais grave. Vale lembrar que não existe nenhum tipo de orientação para substituição ou suspensão
        destes remédios e a relação ainda está sendo estudada por pesquisadores.</p>
      </div>
      <div class="col-sm-5">
        <img src="<%= image_url('hipertensao.png') %>" class="hipertensao" alt="hipertensao">
      </div>
    </div>
  </div>

  <!-- ------------------------ asma ------------------ -->
  <div class="container-azul-imagem" style="height: 450px;">
    <div class="row padding ">
      <div class="col-sm-7">
        <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você possui Asma, com isso deve se cuidar pois:</p><br>
        <p class="subtitulo-azul">A <b>asma</b> é uma doença que provoca deficiência respiratória e deixa os pulmões mais sensíveis, favorecendo o
        aumento da falta de ar e secreção nos pulmões. Segundo Renato Grinbaum, infectologista da SBI (Sociedade Brasileira de Infectologia), o
        vírus aumenta os sintomas respiratórios, além de contribuir para o aumento de crises de asma. Por causa disso, o paciente fica extremamente
        debilitado e com mais sintomas do quadro respiratório.</p>
      </div>
      <div class="col-sm-5">
        <img src="<%= image_url('asma.png') %>" class="asma" alt="asma">
      </div>
    </div>
  </div>


  <!-- --------------------- diabetico ------------- -->
  <div class="container-azul-imagem" style="height: 400px;">
    <div class="row padding ">
      <div class="col-sm-7">
        <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você possui Diabetes, com isso deve se cuidar pois:</p><br>
        <p class="subtitulo-azul">O <b>diabetes</b> é um fator de risco para várias infecções. João Prats, infectologista da BP
        - A Beneficência Portuguesa de São Paulo, explica que a doença mexe com o sistema de defesa do paciente e,
         por isso, ele fica mais suscetível a pegar coronavírus e desenvolver a covid-19.</p>
      </div>
      <div class="col-sm-5">
        <img src="<%= image_url('diabete.png') %>" class="diabetes" alt="diabetes">
      </div>
    </div>
  </div>

<!-- ------------ fumante ------------ -->
<div class="container-azul-imagem" style="height: 400px;">
  <div class="row padding ">
    <div class="col-sm-7">
      <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você é Fumante, com isso deve se cuidar pois:</p><br>
      <p class="subtitulo-azul">Os <b>tabagistas</b> já possuem a capacidade pulmonar prejudicada pela exposição a substâncias
      nocivas do cigarro, o que favorece o aumento de doenças pulmonares como enfisema pulmonar e bronquite crônica.
      Como o pulmão já está debilitado, as chances de desenvolver a covid-19 é bem maior do que uma pessoa que não fuma ou não possui doenças pulmonares.</p>
    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('fumante.png') %>" class="diabetes" alt="fumante">
    </div>
  </div>
</div>

<!-- ----------- gestantes ------------------- -->
<div class="container-azul-imagem" style="height: 1150px;">
  <div class="row padding ">
    <div class="col-sm-7">
      <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você é Gestante, com isso deve se cuidar pois:</p><br>
      <p class="subtitulo-azul">Segundo o Ministério da Saúde, as <b>gestantes</b> e puérperas são mais vulneráveis a infecções e,
      por isso, estão nos grupos de risco do vírus da gripe. "Estudos científicos apontam que a fisiopatologia do vírus H1N1
      pode apresentar letalidade nesses grupos associados à história clínica de comorbidades dessas mulheres. Sendo assim,
      para a infecção pelo Covid-19, o risco é semelhante pelos mesmos motivos fisiológicos, embora ainda não tenha um estudo
      específico conclusivo. Portanto, <b>os cuidados com gestantes e puérperas devem ser rigorosos e contínuos</b>, independente do histórico
      clínico das pacientes", disse a instituição em nota à imprensa.</p>

      <p class="subtitulo-azul">De acordo com a ginecologista <b>Juliana Esteves</b>, membro da Comissão Nacional Especializada em Assistência Pré-Natal da Febrasgo
      (Federação Brasileira das Associações de Ginecologia e Obstetrícia), não há motivo para pânico, já que as grávidas e as mães
      que deram à luz recentemente seriam mais um grupo de atenção do que de risco. A médica explica que ainda não há tantos casos graves
      para afirmar que as gestantes seriam mais suscetíveis a desenvolverem complicações pela Covid-19. No entanto, Juliana ressalta que
      no caso das puérperas, é preciso ter cuidado, pois até seis semanas após o parto, o sistema imunológico delas pode estar mais vulnerável,
      devido às modificações no corpo.</p>

      <p class="subtitulo-azul">As gestantes com <b>comorbidades</b> também precisam de atenção redobrada. "Essas, sim, seriam um grupo de risco", diz. Por exemplo,
      um quadro de pré-eclampsia, que tem como principal característica a pressão arterial elevada, pode fazer com que o organismo da mulher
      tenha uma resposta fisiológica ruim à infecção causada pelo vírus.</p>
    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('gestante.png') %>" class="gestante" alt="gstante">
    </div>
  </div>
</div>

<!-- ------------------ idoso ------------ -->
<div class="container-azul-imagem" style="height: 550px;">
  <div class="row padding ">
    <div class="col-sm-7">
      <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você é Idoso, com isso deve se cuidar pois:</p><br>
      <p class="subtitulo-azul">Pessoas <b>idosas são mais frágeis diante da Covid-19</b>. Esta mensagem, que foi repetida
      desde o começo da epidemia, é uma realidade estatística. Mas as consequências práticas para os mais velhos devem
      ser cuidadosamente ponderadas e o confinamento também pode trazer riscos, segundo especialistas.</p>

      <p class="subtitulo-azul">"O risco de ter uma forma grave da doença aumenta progressivamente com a idade
      e isso acontece a partir dos 40 anos", alerta a OMS, que considera a idade de <b>60 anos</b> para delimitar a categoria de
      pessoas que correm maior risco, juntamente com as que sofrem doenças crônicas.</p>

    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('idoso.svg') %>" class="idoso" alt="idoso">
    </div>
  </div>
</div>

<!-- ---------------- obesidade ------------------ -->
<div class="container-azul-imagem" style="height: 800px;">
  <div class="row padding ">
    <div class="col-sm-7">
      <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você possui Obesidade, com isso deve se cuidar pois:</p><br>
      <p class="subtitulo-azul">Sabendo que a obesidade <b>anda de mãos dadas com as doenças crônicas</b>, a preocupação para
      que ocorra o controle adequado da pressão arterial e dos níveis glicêmicos tende ser ainda maior, além dos cuidados
      individuais e coletivos como medidas de proteção para assim evitar a COVID-19 e suas complicações.</p>

      <p class="subtitulo-azul">O boletim do Ministério da Saúde sobre a disseminação do COVID-19 no Brasil,
      divulgado no início de abril, apontou uma nova tendência relacionada às mortes por Coronavírus: <b>a
      obesidade estava mais presente nos óbitos de jovens que os de idosos.</b></p>

      <p class="subtitulo-azul">Apesar das limitações de espaço, também é tempo de improvisar e colocar a criatividade em ação para que seu
      corpo não fique parado. <b>A atividade física regular é uma excelente aliada da sua saúde</b>, principalmente para quem
      também sofre com essas doenças. Invista em atividades que podem ser feitas no dia a dia, como subir escadas e realizar
      tarefas domésticas. <b>Evite também o comportamento sedentário, principalmente durante o período de home office.</b></p>

    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('obesidade.png') %>" class="gestante" alt="obesidade">
    </div>
  </div>
</div>


<!-- --------------- cancer ------------------ -->
<div class="container-azul-imagem" style="height: 550px;">
  <div class="row padding ">
    <div class="col-sm-7">
      <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você possui Câncer, com isso deve se cuidar pois:</p><br>
      <p class="subtitulo-azul">Os pacientes com <b>câncer em tratamento oncológico</b> parecem ter maior risco de infecção grave,
      embora o número de casos de infecções nesses pacientes seja pequeno. A frequência de pacientes com câncer e COVID-19
      varia de 0,9% a 1% na literatura. Recomenda-se que todos os pacientes oncológicos em tratamento tenham cuidado redobrado
      para não adquirir a infecção, evitando contato com pessoas com sintomas e com pessoas que tenham viajado para áreas com
      a epidemia, evitando viagens desnecessárias e também locais com aglomerações de pessoas. <b>Atenção: os pacientes não devem interromper seu tratamento oncológico!</b></p>

    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('cancer.png') %>" class="cancer" alt="cancer">
    </div>
  </div>
</div>

<!-- ----------- cardio ------------- -->
<div class="container-azul-imagem" style="height: 750px;">
  <div class="row padding ">
    <div class="col-sm-7">
      <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">Você possui Doença Cardiovascular, com isso deve se cuidar pois:</p><br>
      <p class="subtitulo-azul">A infecção viral leva a uma série de reações responsáveis por desequilibrar doenças cardiovasculares que
      antes estavam compensadas. Segundo Dr. Felix Ramires, cardiologista e coordenador do programa de Insuficiência Cardíaca do HCor,
      pacientes com doenças cardiovasculares prévias têm, por vezes, alterações em seu sistema imunológico além de um estado inflamatório
      crônico latente, o que pode agravar a evolução da doença. Em pandemias passadas por vírus respiratórios, a mortalidade por doenças
      cardiovasculares chegou a ultrapassar todas as outras causas, ficando à frente da pneumonia em outras situações.
      “Pacientes com doenças crônicas, hipertensão, diabetes e que já tiveram alguma doença cardíaca como infarto ou passaram
      por alguma cirurgia cardiovascular ou que tem insuficiência cardíaca, são um grupo de maior risco. Nesse grupo existe uma
      predisposição para desenvolver a forma grave da doença, não especificamente para ser contaminado pelo covid-19”, orienta.</p>

    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('cardio.png') %>" class="cardio" alt="cancer">
    </div>
  </div>
</div>

<!-- -------------------------- grupo de risco ------------------ -->
  <div class="container-maior container-sm">
    <div class="margem">
      <div class="row">
        <div class="col-sm">
          <p class="titulo-h3">Você está no grupo de risco, sendo mais suscetível a complicações do novo coronavírus.</p>
          <p class="subtitulo-cinza">Sendo assim, você precisa reforçar alguns cuidados e medidas para combater o vírus:</p>
      </div>
      <div class="col-sm" align="center">
        <img src="<%= image_url('risco.png') %>" class="risco" alt="grupo de risco">
      </div>
    </div>

    <div class="row">
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Higienização frequente das mãos com água e sabonete (durante 30s) ou álcool gel a 70%;</p>
        <img src="<%= image_url('maos.png') %>" style="width: 150px; height: 150px; position: relative; left: 130px; top: 20px" alt="dar as mãos">
      </div>
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Seguir a “etiqueta respiratória” quando possível:</p>
        <img src="<%= image_url('etiqueta1.jpeg') %>" style="width: 360px; height: 230px; position: relative; left: 30px; top: 20px" alt="dar as mãos">
      </div>

      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Restrição de contato social (exceto cuidadores e profissionais de saúde, quando necessário);</p>
        <img src="<%= image_url('bonecos.png') %>" style="width: 360px; height: 230px; position: relative; left: 30px" alt="dar as mãos">
      </div>
    </div>

    <div class="row">
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Evitar aglomerações e viagens;</p>
        <img src="<%= image_url('aglomeracao.png') %>" style="width: 150px; height: 150px; position: relative; left: 130px; top: 20px" alt="dar as mãos">
      </div>

      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Evitar atividades em grupo;</p>
        <img src="<%= image_url('grupo.png') %>" style="width: 250px; height: 200px; position: relative; left: 80px; top: 20px" alt="dar as mãos">
      </div>

      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Atenção redobrada aos cuidados com a higiene pessoal (em especial às pessoas com deficiência intelectual e motora com alto grau de dependência)</p>
        <img src="<%= image_url('higiene.png') %>" style="width: 200px; height: 180px; position: relative; left: 130px; top: 10px" alt="dar as mãos">
      </div>
    </div>
  </div>
  </div>

  <div class="container-maior container-sm">
    <div class="margem">
      <div class="row">
        <div class="col-sm">
          <p class="titulo-h3">Você não está no grupo de risco!</p>
          <p class="subtitulo-cinza">Mesmo assim precisa reforçar alguns cuidados e medidas para combater o vírus:</p>
      </div>
      <div class="col-sm" align="center">
        <img src="<%= image_url('coronaa.png') %>" class="risco" alt="grupo de risco">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Higienização frequente das mãos com água e sabonete (durante 30s) ou álcool gel a 70%;</p>
        <img src="<%= image_url('maos.png') %>" style="width: 150px; height: 150px; position: relative; left: 130px; top: 20px" alt="dar as mãos">
      </div>
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Seguir a “etiqueta respiratória” quando possível:</p>
        <img src="<%= image_url('etiqueta1.jpeg') %>" style="width: 360px; height: 230px; position: relative; left: 30px; top: 20px" alt="dar as mãos">
      </div>
  
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Restrição de contato social (exceto cuidadores e profissionais de saúde, quando necessário);</p>
        <img src="<%= image_url('bonecos.png') %>" style="width: 360px; height: 230px; position: relative; left: 30px" alt="dar as mãos">
      </div>
    </div>
  
    <div class="row">
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Evitar aglomerações e viagens;</p>
        <img src="<%= image_url('aglomeracao.png') %>" style="width: 150px; height: 150px; position: relative; left: 130px; top: 20px" alt="dar as mãos">
      </div>
  
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Evitar atividades em grupo;</p>
        <img src="<%= image_url('grupo.png') %>" style="width: 250px; height: 200px; position: relative; left: 80px; top: 20px" alt="dar as mãos">
      </div>
  
      <div class="col-sm card">
        <p class="subtitulo-cinza-negrito">• Atenção redobrada aos cuidados com a higiene pessoal (em especial às pessoas com deficiência intelectual e motora com alto grau de dependência)</p>
        <img src="<%= image_url('higiene.png') %>" style="width: 200px; height: 180px; position: relative; left: 130px; top: 10px" alt="dar as mãos">
      </div>
    </div>
  </div>
  </div>

    <div class="container-azul" style="height: 660px;">
      <div class="row subtitulo-azul padding">
        <p class="titulo-h2" style="font-size: 30px; margin-bottom: 0;">É importante ressaltar que a criança com deficiência faz parte do grupo de risco, incluindo:</p><br>
        • Paralisia Cerebral;<br>
        • Microcefalia;<br>
        • Síndrome de Down;<br>
        • Transtorno do Espectro Autista (TEA);<br>
        • Esclerose Lateral Amiotrófica (ELA);<br>
        • Atrofia Muscular Espinha (AME);<br>
        • Esclerose Múltipla;<br>
        • Distrofias Musculares;<br>
        • Demais síndromes;<br>
        • E outras condições semelhantes.<br>
        <img src="<%= image_url('crianca.png') %>" style="width: 600px; height: 350px; position: relative; left: 400px; top: 30px;" alt="deficiente">
      </div>
    </div>


<!-- ------------------  todos -->


<div class="container-quarentena">
  <div class="row padding">
    <div class="col-sm-8">
    <p class="titulo">Quarentena COVID-19: 4 dicas para cuidar da sua saúde mental.</p>
    <p class="subtitulo-cinza" style="font-size: 20px;">Saiba como manter a saúde mental em dia durante o isolamento social (quarentena COVID-19).
    Com o isolamento social, o que não faltam são dificuldades para lidar com a solidão da quarentena e
    vencer todos os problemas de ansiedade, medo, tristeza e incertezas – que trazem várias complicações para a saúde mental.
    Estar isolado vai muito além de “ficar sozinho”. Surge o medo de faltar dinheiro para pagar os boletos,
    ser demitido do emprego e até mesmo se infectar com COVID-19.
    Por conta disso, é necessário ter uma série de cuidados com a saúde mental durante a quarentena.</p></div>
    <div class="col-sm">
    <img src="<%= image_url('quarentena.jpg') %>" class="quarentena" alt="quarentena"></div>
  </div>
  <div class="row padding">
    <div class="col-sm">
      <p class="titulo" style="font-size: 20px;">1- Cuide para as notícias não se tornarem tóxicas</p>
      <p class="subtitulo-cinza" style="font-size: 16px;">É claro que não podemos deixar de conferir as notícias e nos manter informados sobre a situação mundial e novidades da pandemia de COVID-19, <b>o temido coronavírus.</b>
      Mas é muito importante se informar com moderação. Afinal, de nada irá adiantar entrar no desespero e fazer com que as notícias lhe tirem o sono – a ponto de se tornarem extremamente tóxicas.
      Para reduzir essa problemática, você pode seguir alguns conselhos:<br>
      <b>Evite conferir as notícias tarde da noite (antes de dormir)</b></br>
      Isso pode influenciar de forma totalmente negativa a sua noite de sono. Como esse momento é extremamente importante para a regulação do organismo, evite comprometê-lo!<br>
      <b>Espere o dia iniciar para se manter informado</b><br>
      Tem coisa pior do que já iniciar o dia com uma notícia ruim? Com certeza, não! Para evitar constrangimentos e estresse desnecessário, evite olhar as notícias assim que acordar.
      Inicie seu dia, tome um bom café e só depois se mantenha informado.
      Podem parecer dicas simples e bobas, mas que podem ser suas verdadeiras aliadas quando o assunto é cuidar da saúde mental durante o isolamento social.</p>
    </div>
    <div class="col-sm">
      <p class="titulo" style="font-size: 20px;">2- Tome conta de si mesmo</p>
      <p class="subtitulo-cinza" style="font-size: 16px;">O isolamento social pode trazer à tona uma série de sentimentos: <b>confusão, tristeza, medo, ansiedade.</b> E em meio a esse cenário de incertezas, é comum que muitas pessoas se esqueçam do autocuidado.
      Cuidar de si mesmo é essencial para manter a saúde mental em dia – principalmente em tempos de quarentena.
      Mesmo que o mundo esteja desmoronando, não esqueça que <b>você precisa do seu próprio tempo: cuide do seu corpo, tome aquele banho relaxante que tanto gosta e cultive hábitos positivos.</b>
      Uma hora toda essa confusão irá passar (mesmo que não saibamos quando) e você precisará estar 100% pronto para alavancar a vida, como sempre. <b>Não deixe a tristeza e
      o medo</b> tomarem conta e se dedique com energia e disposição para cuidar de si próprio!</p>
    </div>
  </div>
  <div class="row padding">
    <div class="col-sm">
      <p class="titulo" style="font-size: 20px;">3- Acalme a sua mente</p>
      <p class="subtitulo-cinza" style="font-size: 16px;">Se desesperar não irá resolver nada. Muito pelo contrário!
      Mas afinal, como manter a mente calma durante o isolamento social? Embora muita gente pense que é besteira, <b>a meditação pode ser uma excelente aliada.</b>
      Com benefícios comprovados pela ciência, a meditação faz com que a <b>mente relaxe e que a consciência foque no presente – deixando todos os pensamentos ruins de lado.</b>
      E não precisa ser nenhum monge budista para contar com as vantagens do processo! No Youtube, é possível encontrar uma série de tutoriais guiados para iniciantes.
      2 minutinhos de meditação durante o seu dia podem fazer uma enorme diferença. Experimente!
     </p>
    </div>
    <div class="col-sm">
      <p class="titulo" style="font-size: 20px;">4- Não se isole!</p>
      <p class="subtitulo-cinza" style="font-size: 16px;"">Em meio ao isolamento social, como não se isolar?
      A verdade é que <b>não é necessário sair na rua para sentir-se acompanhado</b> – embora o ser humano sinta uma enorme falta do contato!
      Que tal participar de encontros online e manter o contato com outras pessoas mesmo à distância?
      Busque grupos do seu interesse. <b>Converse com pessoas que estão passando pela mesma situação que você.</b> Marque reuniões familiares online – mas JAMAIS fique sozinho!
      Os principais problemas de saúde mental da quarentena estão sendo causados, principalmente, pelo distanciamento social. Aproveite a facilidade das mídias sociais e fique em contato com aqueles que você ama – mesmo que separados fisicamente.
      Caso não tenha muitos amigos ou familiares disponíveis, <b>não tem problema!</b> O que não faltam são grupos de apoio na internet. Procure um com o qual se identifique e encontre-se!</p>
    </div>
  </div>
</div>

  <div class="container-vermelho">
    <div class="row padding">
      <p class="titulo-vermelho">Se você puder,</p>
    </div>
    <div class="row padding">
      <div class="col-sm-7">
      <p class="subtitulo-vermelho">FIQUE EM CASA</p>
    </div>
    <div class="col-sm-5">
      <img src="<%= image_url('casaa.png') %>" class="imagem-casa"  alt="fique em casa">
    </div>
    </div>
  </div>
  

<div class="section-head text-center wide-lg padding" style="position: relative; left: 350px; height: 950px;">
  <h5 class="subtitle" style="font-family: Raleway, sans-serif; font-size: 16px; line-height: 30px;">Como você possui criança na sua residência, separamos algumas leituras nesse período :)</h5>
  <h2 class="title" style="font-weight: 700; font-family: Oswald, sans-serif; line-height: 1.3; margin-bottom: 0.5rem; color: #50658e; font-size: 2.25rem;">Cartilhas e Contos</h2>
  <p style="color: #50658e " align="justify">
  Muitas delas tiveram mudanças na rotina por causa da pandemia de Covid-19, e 
  a publicação busca esclarecer o atual cenário ao público infantil, a partir de uma linguagem fácil e divertida.
  Clique na imagem para acessar a cartilha.
</p> 
<p><a href="https://www.saude.gov.br/images/pdf/2020/April/06/Cartilha--Crian--as-Coronavirus.pdf"><img style="max-width: 70%;"  src="<%= image_url('cartilha.jpg') %>"></a>
</p>
  <p>Abaixo estão alguns contos</p>
    <p>
    <table>
            <tr>
          <th><a href="https://catve.com/arquivos/15840192955e6a375f71bfd.pdf"><img style="max-width: 80%;  "  src="<%= image_url('conto1.png') %>" ></a></th>
          <th><a href="http://organizemeucondominio.com.br/downloads/Isolamento_2020.pdf"><img style="max-width: 80%;  "  src="<%= image_url('conto2.png') %>"  ></a></th>
          <th><a href="https://www.ibfeduca.com.br/shared/upload/acon_agenda/15_2054_3038.pdf"><img style="max-width: 80%;  "  src="<%= image_url('conto3.png') %>"  ></a></th>
            </tr>
          </table>
    </p>
</div>


  <div class="container-quiz">
    <div class="row padding">
      <p class="titulo-vermelho-quiz">Fake News crescem no Brasil</p>
    </div>
    <div class="row padding">
      <div class="col-sm-6">
        <p class="subtitulo-preto">
          Não é de hoje que mentiras são divulgadas como verdades, mas foi com o advento das
          redes sociais que esse tipo de publicação popularizou-se. A imprensa internacional começou a
          usar com mais frequência o termo fake news durante a eleição de 2016 nos Estados Unidos, na
          qual Donald Trump tornou-se presidente. Fake news é um termo em inglês e é usado para referir-se
          a falsas informações divulgadas, principalmente, em redes sociais.<br>
          Com a circulação do novo Covid-19 não foi diferente, de 17 de março a 10 de abril, os dados revelaram que 65% das informações
          falsas que circularam no período apresentavam métodos caseiros para prevenir o vírus. Entretanto,
          vale ressaltar, ainda não há comprovação científica que justifique métodos que não sejam aqueles
          indicados por autoridades de saúde.<br>
          “Uma guerra nas redes sociais envolvendo informações enganosas, ambíguas e falsas além das
          consequências negativas para a saúde pública, prejudicaram a adesão a medidas de distanciamento social”.
        </p>
      </div>
      <div class="col-sm-6">
        <img src="<%= image_url('fake-news.png') %>" class="imagem-fake" alt="quiz fake news"><br><br>
        <p class="subtitulo-preto" style="text-align: center;">Será que você sabe diferenciar uma notícia verdadeira<br> de uma fake news? Confira no nosso Quiz!</p>
        <button type="button" class="botao-finalizar botao-jogar">JOGAR AGORA</button>
      </div>
    </div>
  </div>

  <div class="container-azul">
    <div class="row padding">
      <div class="col-sm">
        <p class="titulo-h2" style="font-size: 35px;">Caso esteja com algum sintoma,<br> consulte o hospital mais próximo!</p><br>
        <img src="<%= image_url('medico-corona.png') %>" class="imagem-medico" style="width: 350px; height: 350px; position: relative; left: 80px;" alt="simbolo-corona">
      </div>
      <div class="col-sm" style="position: relative; top: 50px;">
        <p style="font-size: 14px; font-family: Raleway;">* Clique em <i>"Visualizar mapa ampliado"</i> para preencher seu CEP</p>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14639.433016428047!2d-46.3145073!3d-23.4655769!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1590104375065!5m2!1spt-BR!2sbr"
          width="700"
          height="400"
          frameborder="0"
          style="border: 0;"
          allowfullscreen=""
          aria-hidden="false"
          tabindex="0"
        ></iframe>
      </div>
    </div>
  </div>

  <!-- ----------- quarentena ------------- -->

<!-- -----------------------------  -->
</section>

<style>
  .hipertensao {
    right: 0;
    left: 90px;
    width: 400px;
    position: relative;
    top: 100px;
  }

  .card {
    background-color: rgb(236, 236, 236);
    height: 350px;
    border-radius: 10px;
  }

  .diabetes {
    position: relative;
    right: 0;
    left: 140px;
    top: 30px;
    width: 200px;
  }
  .gestante {
    position: relative;
    right: 0;
    left: 140px;
    top: 100px;
    width: 300px;
  }
  .quarentena {
    width: 400px;
  }

  .imagem-fake {
    position: relative;
    width: 400px;
    left: 120px;
  }

  .botao-jogar {
    position: relative;
    left: 250px;
  }

  .cancer {
    position: relative;
    right: 0;
    left: 140px;
    top: 50px;
    width: 300px;
  }

  .cardio {
    position: relative;
    right: 0;
    left: 140px;
    top: 120px;
    width: 300px;
  }
  .idoso {
    position: relative;
    right: 0;
    left: 140px;
    top: 70px;
    width: 300px;
  }

  .asma {
    position: relative;
    right: 0;
    left: 90px;
    width: 300px;
  }
    .minha-area {
      position: relative;
      right: 100px;
      top: 100px;
      width: 600px;
    }
    .container-azul {
      background-color: #96b2e7;
      height: 600px;
      border-radius: 0 0 50px 50px;
    }

    .container-azul-imagem {
      background-image: url(/assets/fundo-escuro-pequeno.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
    }
    .container-quiz {
      background-image: url(/assets/quiz.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 900px;
    }

    .container-vermelho {
      background-image: url(/assets/red.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      border-radius: 0 0 50px 50px;
    }

    .margem {
      margin: 60px 40px 0 40px;
    }
    .risco {
      height: 400px;
      margin-bottom: 80px;
    }
    .container-corona {
      height: 800px;
    }
    .container-quarentena {
      height: 1900px;
    }

    .padding {
      padding: 60px 40px 0 40px;
    }

    .texto {
        font-family: 'Roboto', sans-serif;
        color: #191970;
        font-size: 16px;
        position: relative;
        top: 20px;
      }
      .subtitulo-vermelho {
        font-family: 'Oswald-Bold', sans-serif;
        color: #ff8d02;
        font-size: 110px;
        position: relative;
        bottom: 30px;
      }

      .titulo-vermelho {
        font-family: 'Raleway', sans-serif;
        color: #000000;
        font-size: 40px;
        position: relative;
        left: 20px;
      }

      .imagem-casa {
        bottom: 50px;
        width: 500px;
        border-radius: 30px;
        position: relative;
      }

      .container-menor {
      height: 300px;
      background-image: url(/assets/azul.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 0 50px 50px;
      height: 400px;
    }

    .container-maior {
      height: 1300px;
    }

    .subtitulo {
        font-family: 'Raleway', sans-serif;
        color: #191970;
        font-size: 25px;
        position: relative;
        left: 60px;
        top: 20px;
      }

      .subtitulo-azul {
        font-family: 'Raleway', sans-serif;
        color: #191970;
        position: relative;
        top: 20px;
        position: relative;
        line-height: 40px;
        font-size: 20px;
        left: 0;
      }

    .subtitulo-laranja {
      font-family: 'Raleway', sans-serif;
      color: #ff8d02;
      font-size: 25px;
      position: relative;
    }
    .subtitulo-cinza {
      font-family: 'Raleway', sans-serif;
      color: #626262;
      font-size: 25px;
      line-height: 40px;
      position: relative;
    }
    .subtitulo-preto {
      font-family: 'Raleway', sans-serif;
      color: #242424;
      font-size: 20px;
      line-height: 40px;
      position: relative;
    }

    .subtitulo-cinza-negrito {
      font-family: 'Raleway', sans-serif;
      color: #626262;
      font-size: 18px;
      line-height: 30px;
      position: relative;
      font-weight: bold;
    }

    .col {
      padding: 0;
    }

    .row {
      margin: 0;
    }

    .titulo-h2 {
        font-family: 'Oswald-Bold', sans-serif;
        font-size: 50px;
        color: #191970;
        margin-bottom: 40px;
    }
    .titulo-vermelho-quiz {
      font-family: 'Oswald-Bold', sans-serif;
      font-size: 50px;
      color: #b30000;
      margin-bottom: 40px;
      left: 13px;
      position: relative;
    }

    .titulo-h3 {
        font-family: 'Oswald-Bold', sans-serif;
        font-size: 40px;
        color: #ff8d02;
        margin-bottom: 40px;
    }

    .titulo {
      font-family: 'Oswald-Bold', sans-serif;
      font-size: 30px;
      color: #ff8d02;
      margin-bottom: 40px;
    }


</style>
</body>

