<!DOCTYPE html>
<html>

<head>
  <title>Covid-19</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="viewport" content="width=320px">
  <meta name="viewport" content="height=device-height">
  <link rel="apple-touch-icon" href="icone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="icone.png">
<link rel="apple-touch-icon" sizes="120x120" href="icone.png">
<link rel="apple-touch-icon" sizes="152x152" href="icone.png">
<link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />


  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
    integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" crossorigin="anonymous"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <nav class="navbar navbar-expand-sm navbar-light" style="margin-bottom: 0px; position: sticky;  top: 0; z-index: 1071; background-color: rgb(243, 243, 243);">
    <div>
      <a align="left" href="/">
        <img src="<%= image_url('logo-dark.png') %> " class="logo-covid">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" align="center">
        <a class="nav-item nav-link" href="/games/new">Quiz</a>
        <% unless current_user.nil? %>
          <a class="nav-item nav-link" href="/informations/show">Minha Área</a>
        <% end %>
        <a class="nav-item nav-link" href="/users/sign_in">Login</a>
        <a class="nav-item nav-link" href="/users/sign_up">Cadastro</a>
      </div>
    </div>
    <p class="navbar-text">
      <% if user_signed_in? %>
      <strong class="op1"> <%= current_user.email %></strong> |
      <% end %>
      <% if request.fullpath != "/users/edit" &&  user_signed_in? %>
      <%= link_to 'Editar perfil', edit_user_registration_path%> |
      <% end %>

      <% if user_signed_in? %>
      <%= link_to "Sair", destroy_user_session_path, method: :delete%> |
      <% end %>
    </p>
  </nav>
</head>

<body>

  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>

<%= yield %>

  <script>
    $('#errors-modal').modal('show');
  </script>
</body>

</html>